{
  "plugins": [
    "jest"
  ],
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
    "prettier"
  ],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "rules": {
    "no-cond-assign": [
      "error",
      "except-parens"
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "prefer-destructuring": "off"
  }
}
